<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transactions, starting with the ICO -->
<ol>
<%transactions = Transaction.all%>
<%for transaction in transactions%>
<li><%=transaction["amount"]%></li>
<%end%>
</ol>
<!-- Step 2: Calculate and display the balances -->
<ol><%user_balances = Transaction.all%>
<%users = User.all%>
<%for user in users%>
<%for balance in user_balances%>
<%from = Transaction.find_by ({"from_user_id" => user["id"]})%>
<%from_balance = from["amount"]%>
<%to = Transaction.find_by ({"to_user_id" => user["id"]})%>
<%to_balance = to["amount"]%>
<%total_balance = to_balance - from_balance%>
<li><%=user["name"]%> balance: <%=total_balance%></li>

<%end%>
<%end%></ol>
<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->

<table>
  <tr>
    <th>Name</th>
    <th>Favorite Food</th>
  </tr>
  <tr>
    <td>Brian</td>
    <td>Tacos</td>
  </tr>
   <tr>
    <td>Ben</td>
    <td>Sushi</td>
  </tr>
</table>